body {
	font-family: 'Vazirmatn', sans-serif;
	background: rgba(150, 150, 255, 1);
	text-align: center;
}
body > div {
	margin-bottom: 1rem;
}
#disp, #answer {
	min-height: 4rem;
	margin-top: 1rem;
}
#disp .step, #answer .step {
	margin-right: 0.5rem;
}
#disp, #answer {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	font-size: 400%;
}
#disp[lang=en], #answer[lang=en] {
	font-size: 300%;
}
body.math #disp,
body.math #answer {
	text-align: right;
}
body.math #disp {
	border-bottom: 1px solid black;
}
body .match,
body .math {
	display: none;
}
body.match .match,
body.math .math {
	display: block;
}
#disp hr {
	width: 3em;
	margin-top: 0.1rem;
}
body.match #answer .step {
	border-bottom: 1px solid black;
}
.step {
	display: inline-block;
	width: 2.5rem;
	text-align: center;
}
.step.correct {
	background: rgba(10, 200, 10, 1);
}
.step.incorrect {
	background: rgba(200, 10, 10, 1);
}
select, button {
	border: none;
	background: rgba(10, 10, 200, 0.5);
}
select {
	margin-right: 1em;
}
table {
	margin: 0 auto;
}
table button {
	width: 2.5rem;
	padding: 0.5rem;
	font-size: 150%;
}
table button {
	font-size: 250%;
}
table[lang=en] button {
	font-size: 250%;
}
table[lang=fa] button {
	font-size: 250%;
}
table[lang=bn] button {
	font-size: 250%;
}
#flip {
	margin-top: 1em;
}
p {
	font-size: 80%;
}
